<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803074704695-v0p2ji34fpktv3hcuglegkdac1p4k143.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803074704695-v0p2ji34fpktv3hcuglegkdac1p4k143</string>
	<key>API_KEY</key>
	<string>AIzaSyDYZXnTiBIIafCIyu7IMLLZkH1bpcpgmns</string>
	<key>GCM_SENDER_ID</key>
	<string>803074704695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptesttest</string>
	<key>PROJECT_ID</key>
	<string>future-advanced</string>
	<key>STORAGE_BUCKET</key>
	<string>future-advanced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803074704695:ios:c2094378d68ccc935546b2</string>
</dict>
</plist>